<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnuz.oke.dao.CourseDao">

    <select id="queryByNumber" resultType="com.bnuz.oke.entity.Course">
        select
            c.course_number, c.course_name, c.course_create_time, c.course_end_time,
            t.teacher_id as "teacher.teacherId", teacher_name as "teacher.teacherName", teacher_title as "teacher.teacherTitle"
        from course c, teacher t
        where t.teacher_id = c.teacher_id and c.course_number = #{courseNumber}
    </select>

    <insert id="insertCourse" parameterType="com.bnuz.oke.entity.Course">
        insert into
            course(course_number, course_name, course_create_time, teacher_id)
        value
            (#{courseNumber}, #{courseName}, now(), #{teacher.teacherId})
    </insert>

    <update id="updateCourse" parameterType="com.bnuz.oke.entity.Course">
        update course
        <set>
            <if test="courseName != null">course_name = #{courseName},</if>
            <if test="courseEndTime != null">course_end_time = #{courseEndTime},</if>
        </set>
        where course_number = #{courseNumber}
    </update>
</mapper>