<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnuz.oke.dao.StudentDao">

    <select id="queryByUsername" resultType="com.bnuz.oke.entity.Student">
        select
            s.student_id, s.student_number, s.student_name, s.student_class,
            u.username as "user.username", u.password as "user.password"
        from student s, user u
        where s.username = u.username and u.username = #{username}
    </select>

    <select id="queryById" resultType="com.bnuz.oke.entity.Student">
        select
            s.student_id, s.student_number, s.student_name, s.student_class,
            u.username as "user.username", u.password as "user.password"
        from student s, user u
        where s.username = u.username and s.student_id = #{studentId}
    </select>

    <insert id="insertStudent" parameterType="com.bnuz.oke.entity.Student"
            useGeneratedKeys="true" keyProperty="studentId" keyColumn="student_id">
        insert into
            student(student_number, student_name, student_class, username)
        value
            (#{studentNumber}, #{studentName}, #{studentClass}, #{user.username})
    </insert>

    <update id="updateStudent" parameterType="com.bnuz.oke.entity.Student">
        update student
        <set>
            <if test="studentNumber != null">student_number = #{studentNumber},</if>
            <if test="studentName != null">student_name = #{studentName},</if>
            <if test="studentClass != null">student_class = #{studentClass},</if>
        </set>
        where student_id = #{studentId}
    </update>
</mapper>